@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background: #100e1d;
}

.default {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 40% 20% 20% 10%;
}
